*{
	padding:0;
	margin: 0;
	font-family: sans-serif;

}

.hero h1{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
      
}

  .img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc(53% - 50px);
 }

.hero{
    height: 100%;
    width: 100%;
    background-image: url(img1.png);
    background-size: cover;
    position: absolute;

}

.form-box{
     position: absolute;
    top: 50%;
    left:80%;
    bottom: -7%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
   padding: 85px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 80px ;
    overflow: hidden;
}

.button-box{
    width: 320px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    font-size: 13px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: relative;

}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 155px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field{
    font-size: 18px;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;  
}

.submit-btn{

    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline: none;border-radius: 30px;


}

.check-box{
    margin: 30px 10px 10px 0;

}
span{
    color: #777;
    font-size: 12px;
    bottom: 45px;
    position: absolute;
}

#stud{
    left: 50px;
}
#prof{
    left: 450px;
}
